<div class="modal-header top-m">
  <h5 class="modal-title pull-left">{{ title }}</h5>
  <button
    type="button"
    class="close pull-right cor"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <img
    class="card-img-top"
    src="{{ imagem }}"
    alt=""
    style="
      width: 440px;
      height: 390px;
      padding-bottom: 18px;
      margin: 0 auto;
      display: block;
      padding-top: 10px;
    "
  />

  <p class="title">{{ item }}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-dark btn-sm" (click)="onClose()">
    {{ closeBtnName }}
  </button>
</div>
