.title{
    margin-top: 20px;
}
.btn{
    margin-top: 20px;
}
.fm{
    font-weight: 600;
    font-size: 19px;
    padding-top: 2px!important;
    padding-bottom: 4px!important;
    background: #378fe7;
    color: #fff;
}
.btns{
    width: 130px;
}
.topo{
    margin-top: 12px;
}
.title-card{
    font-size: 16px;
}
.topo-template{
    margin-top: 70px;
}
.card-d{
    height: 250px;
}
.bt{
    width: 96%!important;
    display: block;
    margin: 0 auto;
}

.title{
    font-weight: 700;
}
.top{
   margin-top: 20px;
   
}