<div class="card title topo-template">
  <div class="card-header fm">
    Api de filmes
  </div>
  <div class="card-body">
    <h5 class="card-title">Busca</h5>

    <form [formGroup]="formBusca" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="col">
          <select
            class="form-control form-control-sm"
            formControlName="idioma"
            required
          >
            <option value="">Selecione Idioma </option>
            <option *ngFor="let idioma of linguagem" [value]="idioma.id">{{
              idioma.name
            }}</option>
          </select>
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="filme"
            placeholder="Filme"
            required
          />
        </div>
      </div>

      <button
        class="btn btn-primary btn-sm btns"
        type="submit"
        [disabled]="!formBusca.valid"
      >
        Pesquisar
      </button>
    </form>
  </div>
</div>

<div class="row top" *ngIf="visao">
  <div class="col-xs-12 col-12 direita">
    <pagination [totalItems]="totalRegistro" 
    [(ngModel)]="page" 
    (pageChanged)="pageChanged($event)"
    [maxSize]="maxSize"
    ></pagination>
  </div>
</div>

<div class="row" style="margin-bottom: 20px;">
  <div class="col-sm-3 topo" *ngFor="let detalhe of listaFilmes">
    <div class="card" style="width: 100%; min-height: 300px;">
      <span *ngIf="detalhe.poster_path">
        <img
          class="card-img-top"
          src="{{ imagePath + detalhe.poster_path }}"
          alt="{{ detalhe.original_title }}"
          style="width: 230px;height: 300px;margin: 0 auto;display: block;padding-top: 10px;"
        />
      </span>
      <span *ngIf="!detalhe.poster_path">
        <img
          class="card-img-top"
          src="{{ imgNaoEscontrada }}"
          alt="{{ detalhe.original_title }}"
          style="width: 230px;height: 300px;margin: 0 auto;display: block;padding-top: 10px;"
        />
      </span>
      <div class="card-body">
        <div class="card-d">
          <h5 class="card-title title-card"><span class="title">Título: </span>{{ detalhe.original_title }}</h5>

          <p class="card-text" *ngIf="detalhe.overview"> 
            {{ detalhe.overview | limiterCaracter: [100] }}
          </p>

          <p class="card-text" *ngIf="!detalhe.overview"> 
            Este filme não possue sinopse 
          </p>
        </div>
        <button class="btn btn-primary btn-sm bt" (click)="detalheFilme(detalhe)">Detalhes</button>
      </div>
    </div>
  </div>
</div>
